<mat-card class="mt-5">
  <mat-card-title>
    Autenticati
  </mat-card-title>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading" class="m-3">
    <mat-form-field>
      <input
        matInput
        type="email"
        name="email"
        ngModel
        placeholder="E-Mail"
        #emailInput="ngModel"
        required
      />
      <mat-error *ngIf="emailInput.invalid">Inserire un'email valida.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        type="password"
        name="password"
        matInput
        placeholder="Password"
        ngModel
        #passwordInput="ngModel"
        required
      />
      <mat-error *ngIf="passwordInput.invalid">Password errata.</mat-error>
    </mat-form-field>
    <div align="right">
      <button color="primary" mat-raised-button type="submit">
        Login
      </button>
    </div>
  </form>
</mat-card>
