<h1 mat-dialog-title>Qualcosa è andato storto...</h1>
<div mat-dialog-content>
  <p class="mat-body-1">{{ data.message }}</p>
</div>
<div mat-dialog-actions style="justify-content: flex-end;">
  <button mat-button mat-dialog-close>Okay</button>
</div>
