<div class="text-center">
  <button mat-button
          *ngFor="let element of list | sortListByName: this.propName"
          (click)="handleClick(type, element[this.propName])"
          [ngClass]="'btn-dark'"
          class="m-1"
  >{{element[type + 'Name']}}</button>
</div>
