
<mat-card class="mb-3 mt-3">
  <mat-card-title>Aggiungi Tipologia</mat-card-title>
  <form [formGroup]="form" (submit)="addTypology()" >
    <mat-form-field class="col-10">
      <input
        matInput
        type="text"
        formControlName="typologyName"
        placeholder="Nome Categoria">
      <mat-error *ngIf="form.get('typologyName').invalid && !form.controls['typologyName'].touched">Inserire un nome per la categoria</mat-error>
    </mat-form-field>
    <button mat-mini-fab color="primary" type="submit" (keyup.enter)="addTypology()">
      <mat-icon>add</mat-icon>
    </button>
  </form>
</mat-card>

<mat-spinner *ngIf="isLoading"></mat-spinner>

<table mat-table [dataSource]="typologies" class="mat-elevation-z8" matSort *ngIf="!isLoading">
  <!-- Name Column -->
  <ng-container matColumnDef="typologyName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
    <td mat-cell *matCellDef="let typology"> {{typology.typologyName}} </td>
  </ng-container>

  <!-- Options Column -->
  <ng-container matColumnDef="options">
    <th mat-header-cell *matHeaderCellDef> Opzioni</th>
    <td mat-cell *matCellDef="let typology">
      <a mat-button (click)="deleteTypology(typology.id)" color="warn">Elimina</a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>



