<mat-spinner *ngIf="isLoading"></mat-spinner>

<table mat-table [dataSource]="lists" class="mat-elevation-z8" matSort *ngIf="!isLoading">
  <!-- Name Column -->
  <ng-container matColumnDef="listTitle" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Lista</th>
      <td mat-cell *matCellDef="let list"> {{ list.listTitle }} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Creata</th>
    <td mat-cell *matCellDef="let list"> {{ list.createdAt }} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="updatedAt">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Modificata</th>
    <td mat-cell *matCellDef="let list"> {{ list.updatedAt }} </td>
  </ng-container>

  <!-- Options Column -->
  <ng-container matColumnDef="options">
    <th *matHeaderCellDef mat-header-cell>Opzioni</th>
    <td *matCellDef="let list" mat-cell>
      <a (click)="editList(list.id)" color="primary" mat-button matTooltip="Modifica {{list.listTitle}}">
        <i class="fas fa-edit"></i>
      </a>
      <a (click)="downloadList(list.id, list.listTitle)" style="color: #8BC34A" mat-button
         matTooltip="Download {{list.listTitle}}">
        <i class="fas fa-file-download"></i>
      </a>
      <a (click)="deleteList(list.id, list.listTitle)" color="warn" mat-button
         matTooltip="Elimina {{list.listTitle}}">
        <i class="fas fa-trash"></i>
      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
