<mat-toolbar style="background-color: #3f51b5" >
  <span><a routerLink="/">Home</a></span>

  <span class="spacer"></span>

  <span *ngIf="!userIsAutheticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
  </span>
  <span *ngIf="!userIsAutheticated">
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent">SignUp</a>
  </span>
  <span *ngIf="userIsAutheticated" (click)="onLogout()">
      <a mat-button>Logout</a>
  </span>
</mat-toolbar>
