<span *ngIf="!userIsAutheticated">
  <app-login></app-login>
</span>

<span *ngIf="userIsAutheticated">
  <h2 class="text-center">Liste</h2>
  <div class="col-12">
    <button
      mat-flat-button
      color="primary"
      routerLink="/list-form"
      routerLinkActive="mat-accent"
      class="btn btn-block mt-2"
    >
      Nuova Lista
    </button>
  </div>
  <div class="col-12">
    <button
      mat-flat-button
      color="primary"
      routerLink="/lists"
      routerLinkActive="mat-accent"
      class="btn btn-block mt-2"
    >
      Elenco Liste
    </button>
  </div>
  <hr />

  <h2 class="text-center">Gestione</h2>
  <div class="col-12">
    <a
      mat-flat-button
      color="warn"
      routerLink="/categories"
      routerLinkActive="mat-accent"
      class="btn btn-block mt-2"
      >Categorie</a
    >
  </div>
  <div class="col-12">
    <a
      mat-flat-button
      color="warn"
      routerLink="/brands"
      routerLinkActive="mat-accent"
      class="btn btn-block mt-2"
      >Marchi</a
    >
  </div>
  <div class="col-12">
    <a
      mat-flat-button
      color="warn"
      routerLink="/typologies"
      routerLinkActive="mat-accent"
      class="btn btn-block mt-2"
      >Tipologie</a
    >
  </div>
  <hr />

  <h2 class="text-center">Altro</h2>

  <div class="col-12">
    <button mat-flat-button class="btn btn-block btn-info mt-2">
      Crea Schema Lista
    </button>
  </div>
</span>
