<div class="text-center">
  <span *ngFor="let i of numbers; index as n;">

    <br *ngIf="n % 3 == 0">
    <button (click)="handleNumberClick(element, i)"
            [ngClass]="'btn-dark'"
            class="m-1"
            mat-button
    >
      <span *ngIf="i == 99 && element == 'price'">
        .
      </span>
      <span *ngIf="i == 999">
        <i class="fas fa-backspace"></i>
      </span>
      <span *ngIf="i != 99 && i != 999">
        {{i}}
      </span>
    </button>

  </span>
</div>
