
<mat-card class="mb-3 mt-3">
  <mat-card-title>Aggiungi Marchio</mat-card-title>
  <form [formGroup]="form" (submit)="addBrand()" >
    <mat-form-field class="col-10">
      <input
        matInput
        type="text"
        formControlName="brandName"
        placeholder="Nome Marchio">
      <mat-error *ngIf="form.get('brandName').invalid && !form.controls['brandName'].touched">Inserire un nome per il marchio</mat-error>
    </mat-form-field>
    <button mat-mini-fab color="primary" type="submit" (keyup.enter)="addBrand()">
      <mat-icon>add</mat-icon>
    </button>
  </form>
</mat-card>

<mat-spinner *ngIf="isLoading"></mat-spinner>

<table mat-table [dataSource]="brands" class="mat-elevation-z8" matSort *ngIf="!isLoading">
  <!-- Name Column -->
  <ng-container matColumnDef="brandName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
    <td mat-cell *matCellDef="let brand"> {{ brand.brandName }} </td>
  </ng-container>

  <!-- Options Column -->
  <ng-container matColumnDef="options">
    <th mat-header-cell *matHeaderCellDef> Opzioni</th>
    <td mat-cell *matCellDef="let brand">
      <a mat-button (click)="deleteBrand(brand.id)" color="warn">Elimina</a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>



