<mat-card class="mb-3 mt-3" *ngIf="showFormTitle">
  <mat-card-title>Nuova lista</mat-card-title>
  <form [formGroup]="formTitle" (submit)="generateList()" >
    <mat-form-field class="col-10">
      <input
        matInput
        type="text"
        formControlName="listTitle"
        placeholder="Titolo nuova lista">
      <mat-error *ngIf="formTitle.get('listTitle').invalid && !formTitle.controls['listTitle'].touched">Inserire un nome per la nuova lista</mat-error>
    </mat-form-field>
    <button mat-mini-fab color="primary" type="submit" (keyup.enter)="generateList()">
      <i class="fas fa-arrow-right"></i>
    </button>
  </form>
</mat-card>

<div *ngIf="!showFormTitle" class="mt-4">
  <h1 class="text-center" *ngIf="this.list.title !== undefined">
    <i class="fas fa-list"></i> {{ this.list.title }}
  </h1>
  <hr>
  <div class="text-center">
    <button mat-button
            *ngFor="let button of utilMapRowProp | keyvalue: originalOrder"
            (click)="changePropriety(button.key)"
            [ngClass]="_tempRow[button.key] ? 'btn-success' : (button.key == rowPropriety ? 'btn-info': 'btn-danger')"
            class="m-1"
    >
       {{ button.value }}
    </button>
  </div>

  <hr>
  <div>
    <app-propriety-button
      *ngIf="rowPropriety == 'brand'"
      [list]="this.brandForChild"
      [type]="rowPropriety"
      (toggleProduct)="handleToggleProduct($event)"
    ></app-propriety-button>

    <app-propriety-button
      *ngIf="rowPropriety == 'category'"
      [list]="this.categoryForChild"
      [type]="rowPropriety"
      (toggleProduct)="handleToggleProduct($event)"
    ></app-propriety-button>

    <app-propriety-button
      *ngIf="rowPropriety == 'typology'"
      [list]="this.typologyForChild"
      [type]="rowPropriety"
      (toggleProduct)="handleToggleProduct($event)"
    ></app-propriety-button>

    <app-propriety-button
      *ngIf="rowPropriety == 'gender'"
      [list]="this.genderForChild"
      [type]="rowPropriety"
      (toggleProduct)="handleToggleProduct($event)"
    ></app-propriety-button>

    <app-number-button
      *ngIf="rowPropriety == 'quantity'"
      [element]="rowPropriety"
      (toggleProduct)="handleToggleNumber($event)">
    </app-number-button>

    <app-number-button
      *ngIf="rowPropriety == 'price'"
      [element]="rowPropriety"
      (toggleProduct)="handleToggleNumber($event)">
    </app-number-button>

  </div>

  <hr>

  <app-propriety-button></app-propriety-button>
  <mat-card class="mb-3 mt-3" id="step_row" >
    <mat-card-title>Aggiungi <span style="color: #3f51b5;">{{ getTranslatedPropriety(rowPropriety) }} </span> alla riga</mat-card-title>
    <form [formGroup]="formRow" (submit)="setProprietyToRow()" >
      <mat-form-field class="col-10">
        <input
          [formControl]="formRow.get(rowPropriety)"
          matInput
          placeholder="Inserire {{ getTranslatedPropriety(rowPropriety) }}"
          type="text"
          [matAutocomplete]="auto"
        >
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of autocompleteSelected[rowPropriety] | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button mat-mini-fab color="primary" type="submit" (keyup.enter)="setProprietyToRow()">
        <i class="fas fa-plus"></i>
      </button>
    </form>
     <small>
      *Indicare le cifre decimali del prezzo con il punto ( . )<br>
       Esempio: 10.50 o 10.00 o 10
     </small>
  </mat-card>

  <mat-card>
    <mat-card-title>Riga in costruzione:</mat-card-title>
    <ul>
      <li *ngFor="let row of _tempRow | keyvalue: originalOrder" >
        {{ utilMapRowProp[row.key]}} : {{ row.value }}
      </li>
    </ul>
    <hr>
    <div class="row justify-content-between m-1">
    <button mat-raised-button color="warn" class="col-1" (click)="resetFormRow()"  matTooltip="Azzera riga">
      <i class="fas fa-trash-alt"></i>
    </button>
    <button mat-raised-button color="primary" class="col-6" (click)="addRowToList()" matTooltip="Salva riga">
      <i class="fas fa-save"></i>
    </button>
    </div>
  </mat-card>
</div>

<div class= "mat-elevation-z8 mt-3 mb-3" >
  <table mat-table [dataSource]="getRows()" class="table-responsive-md"  matSort>
    <!-- Name Column -->
    <ng-container *ngFor="let prop of utilMapRowProp | keyvalue: originalOrder" matColumnDef="{{ prop.key }}">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ prop.value }}</th>
      <td *matCellDef="let row" mat-cell>

        <div class="btn-toolbar" *ngIf="prop.key == 'quantity'">
          <div class="btn-group">

            <button (click)="editQuantity(row.id, 'remove')" mat-icon-button style="color: grey;">
              <mat-icon style="font-size: 1.2rem; color:red">remove</mat-icon>
            </button>

            <button mat-icon-button disabled style="color: grey;">
              {{ row[prop.key]}}
            </button>

            <button (click)="editQuantity(row.id, 'add')" mat-icon-button style="color: grey;">
              <mat-icon style="font-size: 1.2rem; color:green">add</mat-icon>
            </button>

          </div>
        </div>

        <span *ngIf="prop.key != 'quantity'">
              {{ row[prop.key]}}
        </span>
      </td>
    </ng-container>

    <!-- Options Column -->
    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef>Modifica</th>
      <td mat-cell *matCellDef="let row" style='white-space: nowrap'>
        <button mat-button (click)="editRow(row.id)" color="primary" matTooltip="Modifica Riga"><i class="fas fa-pencil-alt"></i></button>
        <button mat-button (click)="deleteRow(row.id)" color="warn" matTooltip="Elimina Riga"><i class="fas fa-trash"></i></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons ></mat-paginator>
</div>

